/*  */

$speech-bubble-color: #808B96;
$speech-bubble-thickness: 5px;

#main {
  #mascot {
    float: right;
    width: 33%;
    #mascot-img {
      img {
        width: 100%;
      }
    }
    #speech-bubble {
      min-height: 140px;
      position: relative;
      padding: 20px 30px 20px 30px;
      border: $speech-bubble-thickness solid $speech-bubble-color;
      border-radius: 50px;
      font-size: 200%;
      margin-bottom: 20px;
      margin-top: 20px;
      &.false {
        visibility: hidden;
      }
      &.true {
        visibility: visible;
      }
      &:before {
        content: "";
        position: absolute;
        z-index: 2;
        bottom: -40px + $speech-bubble-thickness;
        right: 50%;
        width: 50px;
        height: 30px;
        border-style: solid;
        border-width: 0 $speech-bubble-thickness $speech-bubble-thickness 0;
        border-color: $speech-bubble-color;
        margin-right: -10px;
        background: transparent;
        -webkit-border-bottom-right-radius: 80px 50px;
        -moz-border-radius-bottomright: 80px 50px;
        border-bottom-right-radius: 80px 50px;
        display: block;
      }
      &:after {
        content: "";
        position: absolute;
        z-index: 2;
        bottom: -40px + $speech-bubble-thickness;
        right: 50%;
        width: 20px;
        height: 31px;
        border-style: solid;
        border-width: 0 $speech-bubble-thickness $speech-bubble-thickness 0;
        border-color: $speech-bubble-color;
        margin-right: 20px;
        background: transparent;
        -webkit-border-bottom-right-radius: 40px 50px;
        -moz-border-radius-bottomright: 40px 50px;
        border-bottom-right-radius: 40px 50px;
        display: block;
      }
      > div:before {
        content: "";
        position: absolute;
        z-index: 1;
        bottom: -40px + $speech-bubble-thickness;
        right: 49%;
        width: $speech-bubble-thickness;
        height: $speech-bubble-thickness;
        margin-right: 45px - $speech-bubble-thickness;
        background: $speech-bubble-color;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
      }
      > div:after {
        content: "";
        position: absolute;
        z-index: 1;
        bottom: -10px;
        right: 49%;
        width: 30px - $speech-bubble-thickness;
        height: 15px;
        background: #fff;
      }
    }
  }
  ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    li {
      float: left;
      font-size: 500%;
      width: 20%;
      text-align: center;
      border-radius: 20px;
      border: 1px solid black;
      margin-right: 1%;
      margin-bottom: 1%;
      cursor: pointer;
      &:hover {
        box-shadow: 5px 5px 5px #888888;
      }
      &.custom-multiplier-option {
        width: auto;
        padding: 0 2% 0 2%;
      }
    }
  }
  .question {
    font-size: 600%;
  }
  .answer {
    width: 160px;
    padding-left: 2%;
    border: none;
    border-bottom: 5px solid black;
  }
  #check {
    color: darkgreen;
    &.true {
      display: inline-block;
    }
    &.false {
      display: none;
    }
  }
  #answer-help {
    display: inline-block;
    color: $speech-bubble-color;
    cursor: help;
    font-size: 65%;
    vertical-align: super;
    margin-left: 1%;
  }
  #back-button {
    position: absolute;
    right: 1%;
    top: 1%;
    font-size: 50%;
    border-radius: 10px;
  }
}
