/*  */
#main #mascot {
  float: right;
  width: 33%; }
  #main #mascot #mascot-img img {
    width: 100%; }
  #main #mascot #speech-bubble {
    min-height: 140px;
    position: relative;
    padding: 20px 30px 20px 30px;
    border: 5px solid #808B96;
    border-radius: 50px;
    font-size: 200%;
    margin-bottom: 20px;
    margin-top: 20px; }
    #main #mascot #speech-bubble.false {
      visibility: hidden; }
    #main #mascot #speech-bubble.true {
      visibility: visible; }
    #main #mascot #speech-bubble:before {
      content: "";
      position: absolute;
      z-index: 2;
      bottom: -35px;
      right: 50%;
      width: 50px;
      height: 30px;
      border-style: solid;
      border-width: 0 5px 5px 0;
      border-color: #808B96;
      margin-right: -10px;
      background: transparent;
      -webkit-border-bottom-right-radius: 80px 50px;
      -moz-border-radius-bottomright: 80px 50px;
      border-bottom-right-radius: 80px 50px;
      display: block; }
    #main #mascot #speech-bubble:after {
      content: "";
      position: absolute;
      z-index: 2;
      bottom: -35px;
      right: 50%;
      width: 20px;
      height: 31px;
      border-style: solid;
      border-width: 0 5px 5px 0;
      border-color: #808B96;
      margin-right: 20px;
      background: transparent;
      -webkit-border-bottom-right-radius: 40px 50px;
      -moz-border-radius-bottomright: 40px 50px;
      border-bottom-right-radius: 40px 50px;
      display: block; }
    #main #mascot #speech-bubble > div:before {
      content: "";
      position: absolute;
      z-index: 1;
      bottom: -35px;
      right: 49%;
      width: 5px;
      height: 5px;
      margin-right: 40px;
      background: #808B96;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px; }
    #main #mascot #speech-bubble > div:after {
      content: "";
      position: absolute;
      z-index: 1;
      bottom: -10px;
      right: 49%;
      width: 25px;
      height: 15px;
      background: #fff; }

#main ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0; }
  #main ul li {
    float: left;
    font-size: 500%;
    width: 20%;
    text-align: center;
    border-radius: 20px;
    border: 1px solid black;
    margin-right: 1%;
    margin-bottom: 1%;
    cursor: pointer; }
    #main ul li:hover {
      box-shadow: 5px 5px 5px #888888; }
    #main ul li.custom-multiplier-option {
      width: auto;
      padding: 0 2% 0 2%; }

#main .question {
  font-size: 600%; }

#main .answer {
  width: 160px;
  padding-left: 2%;
  border: none;
  border-bottom: 5px solid black; }

#main #check {
  color: darkgreen; }
  #main #check.true {
    display: inline-block; }
  #main #check.false {
    display: none; }

#main #answer-help {
  display: inline-block;
  color: #808B96;
  cursor: help;
  font-size: 65%;
  vertical-align: super;
  margin-left: 1%; }

#main #back-button {
  position: absolute;
  right: 1%;
  top: 1%;
  font-size: 50%;
  border-radius: 10px; }
